<nav class="pa4 mh4 measure-narrow flex-none">
  <div class="flex flex-column justify-between h-100">
    <a href="/" class="dim">
      <img class="h3 h4-l" src="/assets/logo.svg" />
    </a>
    <div class="dn flex-l flex-column ph4">
      {% assign ordered-nav = site.seasons | sort: "position" %}
      {% for item in ordered-nav %}
          <a href="{{item.url}}" class="dim link black ttu tracked pv1 {% if page.url == item.url %}mbgreen{% endif %}">{{item.title}}</a>
      {% endfor %}
    </div>
    <div class="dn flex-l">
      {% include footer.html %}
    </div>
  </div>
</nav>
