<nav class="pa4 mh4 measure-narrow flex-none">
  <div class="flex flex-column justify-between h-100">
    <a href="/" class="dim">
      <img class="h3 h4-l" src="/assets/logo.svg" />
    </a>
    <div class="dn flex-l flex-column ph4">
      <a href="/spring" class="dim link black ttu tracked pv1">Spring</a>
      <a href="/summer" class="dim link black ttu tracked pv1">Summer</a>
      <a href="/autumn" class="dim link black ttu tracked pv1">Autumn</a>
      <a href="/winter" class="dim link black ttu tracked pv1">Winter</a>
    </div>
    <div class="dn flex-l">
      {% include footer.html %}
    </div>
  </div>
</nav>
