<section class="w-100">
  <div class="swiper-container vh-100 bg-light-gray w-100">
  <div class="swiper-wrapper">
    {% for photo in season.slideshow %}
    <!-- https://github.com/bfred-it/object-fit-images -->
      {% assign cleanImage = photo.image | remove: "uploads/" %}
      <img
      srcset="{{ site.imgurl }}{{ cleanImage }}?max-w=200&=max-h=300&q=70 200w,
              {{ site.imgurl }}{{ cleanImage }}?max-w=800&=max-h=1000&q=70 800w,
              {{ site.imgurl }}{{ cleanImage }}?max-w=1500&=max-h=2000&q=70 1500w,
              {{ site.imgurl }}{{ cleanImage }}?max-w=2500&=max-h=3500&q=70 2500w,
              {{ site.imgurl }}{{ cleanImage }}?max-w=4000&=max-h=5500&q=70 4000w"
      src="{{ photo.image }}"
      onerror="this.onerror=null;this.srcset='{{ photo.image }}';"
      class="swiper-slide w-100 h-100"
      style=" object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }}; font-family: 'object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }};'"
      alt="{{ photo.title }}" />
    {% endfor %}
  </div>
</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
<script src="https://unpkg.com/object-fit-images@3.0.1/dist/ofi.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
  pagination: '.swiper-pagination',
  paginationClickable: true,
  loop: true,
  autoplay: {{site.slider-rate}},
  speed: {{site.slider-animation-speed}},
  autoplayDisableOnInteraction: true,
  grabCursor: true
  });

objectFitImages();
</script>
