
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.mbgreen {
  color: #1a624a !important;
}

.measure-xs {
  max-width: 12rem;
}

@media screen and (min-width: 30em) {
  .w45-ns {
    width: 12em;
  }
}
