<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="flex flex-column flex-row-l">
    {% include navigation.html %}
    {{ content }}
    <div class="db dn-l pa4 mh4 measure-narrow">
      {% include footer.html %}
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
  <script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    loop: true,
    autoplay: 4500,
    speed: 600,
    autoplayDisableOnInteraction: false,
    grabCursor: true
    });
  </script>
</body>

</html>
